@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Expediente de Admisión";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "onlineform" }))
{
    @Html.AntiForgeryToken()

    <script type="text/javascript">

        $(document).ready(function () {

            $('#btnBuscar').click(function () {
                ListarExpedientes();
            });



            $('#btnCrearExpediente').click(function () {
                if ($('#txtDocumento').val() == '') {
                    document.getElementById('msjMensaje').innerHTML = "Ingrese un número de documento.";
                    $('#myModal').modal({ backdrop: 'static', keyboard: false })
                }
                else {
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: "/ExpedienteAdmision/CrearExpediente",
                        data: { "numeroDocumento": $('#txtDocumento').val() },
                        success: function (response) {
                            if (response != null && response.success && response.responseText == 'OK') {
                                document.getElementById('msjMensaje').innerHTML = "Se creó el expediente satisfactoriamente";
                                $('#btCerrarModal').click(function () {
                                    ListarExpedientes();
                                });
                                $('#myModal').modal({ backdrop: 'static', keyboard: false })                                
                            } else {
                                document.getElementById('msjMensaje').innerHTML = response.responseText;
                                $('#myModal').modal({ backdrop: 'static', keyboard: false })
                            }
                        }
                    });
                }
            });




            $('#btnSalir').click(function () {
                window.location.href = '/Principal/Index';
            });




            function ListarExpedientes() {
                $('#tbExpedientes tbody').empty();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "/ExpedienteAdmision/GetExpedientes",
                    data: { "numeroDocumento": $('#txtDocumento').val() },
                    success: function (response) {
                        if (response != null && response.success && response.responseText == 'OK') {
                            if (response.cadena == '') {
                                document.getElementById('msjMensaje').innerHTML = "No se encontró registros";
                                $('#myModal').modal({ backdrop: 'static', keyboard: false })                                
                                $('#btnCrearExpediente').prop('disabled', true);
                            }
                            else {
                                $('#tbExpedientes tbody').append(response.cadena);
                                if ($("#tbExpedientes  tbody  tr").length > 0) {
                                    $('#btnCrearExpediente').prop('disabled', false);
                                }
                                else {
                                    $('#btnCrearExpediente').prop('disabled', true);
                                }
                            }
                        } else {
                            document.getElementById('msjMensaje').innerHTML = response.responseText;
                            $('#myModal').modal({ backdrop: 'static', keyboard: false })
                            $('#btnCrearExpediente').prop('disabled', true);
                        }
                    }
                });
            }




        });



    </script>

    <fieldset>
        <div class="panel panel-primary" style="width:100%">
            <div class="panel-heading">Busqueda de Expediente de Admisión</div>
            <div class="panel-body">
                <br />
                <div class="btn-group">
                    <input type="button" value="Crear Expediente" id="btnCrearExpediente" disabled="disabled" class="btn-primary" />
                    <input type="button" value="Salir" id="btnSalir" class="btn-primary" />
                </div>
                <p>
                    <span class="control-label">N° de Documento de identidad del postulante</span> <br />
                    <input type="number" min="0" max="9" id="txtDocumento" class="form-control" maxlength="9" /><br />
                    <input type="button" value="Buscar" id="btnBuscar" class="btn-primary" />
                </p>
                <table id="tbExpedientes" class="table-bordered table-hover" style="width:100%;text-align:center">
                    <thead>
                        <tr>
                            <th style="width:10%">Código</th>
                            <th style="width:10%">Grado</th>
                            <th style="width:40%">Postulante</th>
                            <th style="width:20%">Sucursal</th>
                            <th style="width:10%">Proceso</th>
                            <th style="width:10%">Estado</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Innova School</h4>
                    </div>
                    <div class="modal-body">
                        <p id="msjMensaje"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


    </fieldset>
}
